body {
  font-size:22px;
  font-weight:bold;
  color:white;
  background-color:lightgreen;
  font-family: 'Oxygen', sans-serif;
}
/**header**/
#header-nav{
	background-color:white;
	border-radius:0;
	border:10;
}
#logo-img{
	background: url("../images/logo-img1.png") no-repeat;
	width:120px;
	height:120px;
	margin: 5px 10px 5px 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  color:black;
  font-size:2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration:blink;
}
.navbar-brand p { /* trek to you */
  color: #000;
  
  font-size: .8em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

}
#nav-list {
  margin-top:10px;
}
#nav-list a {
  color:black;
  text-align:center;
  padding-top: 25px;

}
#nav-list a:hover {
  background:lightgreen;
}
#nav-list a span {
  font-size: 1.2em;
}

#phone {
  margin-top: 0px;
}
#phone a { /* Phone number */
  text-align:right;
  padding-bottom:1px;
  font-size:0.6em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 0px;
}
/* END HEADER */

