body {
  font-size: 16px;
  font-weight:bold;
  color:black;
  background-color:#E7E7E7;
  font-family: 'Oxygen', sans-serif
  position: absolute; 
}
/* HOME PAGE */
/** HEADER **/
#header-nav {
  background-color:lightskyblue;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url("../images/logo.png") no-repeat;
  width: 85px;
  height: 85px;
  margin: -5px 2px -15px -5px;
}

.navbar-brand {
  padding-top: 15px;
}
.navbar-brand h1 { /* name */
 
  color:black;
  font-size:2.0em;
  font-weight: bolder;
  text-shadow: 2px 2px 1px grey;
  margin-top: 0;
  margin-bottom: -5px;
  line-height: .70;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  font-size: .8em;
  margin-top:10px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 2px;
}
#nav-list a {
  color:black;
  text-align: center;
}
#nav-list a:hover {
  background:white;
}
#nav-list a span {
  font-size:1.5em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 100%; 
    height:400px; 
    padding-top: 5px; 
    box-shadow: 0 0 0px rgba(0,0,0,0.4); 
    margin-left:15px;
}

.slideshow > div { 
    position:relative; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#slide1{
  background: url("../images/DSCN1029.JPG") no-repeat;
  width:100%;
  height:400px;
}
#slide2{
  background: url("../images/IMG_1901.JPG") no-repeat;
  width:100%;
  height:400px;
}
#slide3 {
  background: url("../images/IMG_6630.JPG") no-repeat;
  width:100%;
  height:400px;
}
#slide4 {
  background: url("../images/DSCN0960.JPG") no-repeat;
  width:100%;
  height:400px;
}
#slide5 {
  background: url("../images/IMG_6627.JPG") no-repeat;
  width:100%;
  height:400px;
}
#slide6 {
  background: url("../images/DSCN1084.JPG") no-repeat;
  width:100%;
  height:400px;
}

#text  { 
   position: absolute; 
   top: 400px;
   padding-left: 20px; 
   text-align-last: center; 
   width: 100%; 
   font-weight: bolder;
   color:#E7E7E7;
}
#quote{
  font-color:green;
  text-align: center;
  font-weight: bolder !important;
  margin-top:35px;
}
#kod{
  background: url("../images/kod.png") no-repeat;
}
#ett{
  background: url("../images/ett.png") no-repeat;
}
#kum{
  background: url("../images/kum.png") no-repeat;
}
#tad{
  background: url("../images/tad.png") no-repeat;
}
#ban{
  background: url("../images/ban.png") no-repeat;
}
#bal{
  background: url("../images/bal.png") no-repeat;
}
#kod, #ett, #kum ,#tad, #ban, #bal {
  height: 210px;
  width: 110%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border: 0px solid grey;
}
#home-tiles{
  padding-top: 0px;
}
#offr div{
  padding-left:45px;
  padding-top: 20px;
}
#updt div{
  padding-left:45px;
  padding-top: 20px;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 0px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/gal.png') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/abt.png') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: -5px;
  padding-bottom: 0px;
  background-color:palegreen;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.1em;
}
#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}
#address {
  color:black;
  font-size: 15px;
  line-height: 1.8;
   text-align: center;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 35px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-photo {
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-right: -26px;
  margin-left: auto;
  margin-bottom: 10px;
  max-width: 350px;
}
.menu-item-description {
  padding-right: 0px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
}
#container .div{
  padding-left: 20px;
}
/* END SINGLE CATEGORY PAGE */
/* The grid: Four equal columns that floats next to each other */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 25%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.9;
}

.active,
.demo:hover {
  opacity: 1;
}
div.container{
  padding-bottom: 0px;
  margin-top:10px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
 
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */

  /* Footer */
 .panel-footer {
  margin-top: 3px;
  padding-top: 5px;
  padding-bottom: 3px;
  background-color:palegreen;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 25px;
}
#hours, #address {
  line-height: 1.5;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: 8px;
  line-height: 1.3;
}
#address {
  color:black;
  font-size: 11px;
  line-height: 2.0;
   text-align: center;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
  }
  /* End Footer */

  /* Home Page */
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
}



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}



